{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur notre site !</h1>
    <p>Ceci est la page d'accueil de notre site des recettes.</p>

    <div class="text-center">
        <img src='https://img.freepik.com/vecteurs-premium/chef-dans-poele-cuillere-casserole-pates_1087929-12778.jpg?semt=ais_hybrid' alt="Description de l'image" class="img-fluid" />
    </div>
{% endblock %}
